<nav class="bg-white shadow dark:bg-amber-600">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
      <a routerLink="/" routerLinkActive="border-gray-100 dark:text-gray-100"
          [routerLinkActiveOptions]="{ exact: true }"
          class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-100 hover:border-gray-100 mx-1.5 sm:mx-6">Accueil</a>

      <a routerLink="/login" routerLinkActive="border-gray-100 dark:text-gray-100"
          class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-100 hover:border-gray-100 mx-1.5 sm:mx-6">Mes
          livres</a>





  </div>
</nav>

<router-outlet></router-outlet>